<div class="container">
  <h1>Games to Assign</h1>
  <div class="row">
    <div class="col-12">
      {{#each games}}
      <div class="row-body">
        <h5 class=.row-title">Game {{id}}</h5><br>
        <h5 class=.row-text">{{schoolName}}</h5><br>
        <h5 class=.row-text">{{sportName}}</h5><br>
        <h5 class=.row-text">{{gameTime}}</h5><br>
        <h5 class=.row-text">{{numberOfReferees}} Referees</h5><br>
        <button type="button" class="btn btn-outline-danger js-assign" game-id={{id}}>Assign</button>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/assign.js"></script>