<h1>Game to Assign</h1>
{{#each games}}
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Game</h5>
                <p class="card-text">{{schoolName}}</p>
                <p class="card-text">{{sportName}}</p>
                <p class="card-text">{{gameTime}}</p>
                <p class="card-text">{{numberOfReferees}}</p>
                <button type="button" class="btn btn-primary js-assign" game-id={{id}}>Assign</button>
            </div>
        </div>
    </div>
</div>
{{/each}}


<script src="/js/assign.js"></script>