<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Game to Assign</h1>
            <div class="card">
                <div class=referee-assignment-card">
                    <h5 class="card-title">Game {{game.id}}</h5>
                    <h5 class="card-text">{{game.schoolName}}</h5>
                    <h5 class="card-text">{{game.sportName}}</h5>
                    <h5 class="card-text">{{game.gameTime}}</h5>
                    <h5 class="card-text">{{game.numberOfReferees}} Referees</h5>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h1>Assigned Referees</h1>
            {{#each assigned}}
            <div class="referee-assignment-card">
                <div class=.card">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <h5 class="card-text">{{email}}</h5>
                    <button type="button" class="btn btn-outline-danger js-unassign" referee-id={{id}}
                        game-id={{../game.id}}>Unassign</button>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="col-4">
            <h1>Available Referees</h1>
            {{#each available}}
            <div class="card">
                <div class=referee-assignment-card">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <h5 class="card-text">{{email}}</h5>
                    <button type="button" class="btn btn-outline-danger js-assign" referee-id={{id}}
                        game-id={{../game.id}}>Assign</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/assigngame.js"></script>